* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(246, 248, 249);
}

.intestazione {
  background: rgb(255, 255, 255);
  height: 70px;
}

.logo {
  margin-left: 15px;
  margin-top: 5px;
}

h1 {
  display: inline-block;
  position: absolute;
  margin-top: 10px;
}

.container {
  height: 650px;
  margin: 5% 15%;
  background: rgb(255, 255, 255);
}

.button {
  background: rgb(71, 173, 241);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px 5px 0px 80px;
  position: absolute;
  border: 0px solid;
}

.button2 {
  margin: 20px 5px 0px 210px;
  background: rgb("255, 255, 255")
  color: rgb(197, 203, 208);
  text-align: center;
  padding: 9px 14px;
  position: absolute;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid;
}

hr {
  display: inline-block;
  margin-top: 80px;
  background: rgb(246, 248, 249);
  height: 5px;
  width: 100%;
  border: 0px;
}

ul {
  list-style: none;
  line-height: 2.5;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 80px;
}

.sublista {
  margin: 0;
}

.lista h3:before {
  content: '\25bc';
}

.checked:before {
  content: '\2713';
  color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 50%;
  padding-left: 2px;
  padding-right: 2px;
}

.ballot:before {
  content: '\24E7';
  color: rgb(255, 0, 0)
}

.badge {
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 10px;
  border-radius: 13px;
  border: 0px solid;
}

.badge.editorial {
    background: rgb(69, 171, 234);
}

.badge.goals {
    background: rgb(156, 114, 228);
}

.badge.recruting {
    background: rgb(100, 192, 169);
}

.badge.mobile {
    background: rgb(242, 158, 51);
}

.badge.website {
    background: rgb(216, 99, 161);
}

.badge.sales {
    background: rgb(176, 201, 38);
}
